body {
    background-color: #f8f8f8;
}

h1 {
    font-family: 'Spartan', sans-serif;
}

/* .navbar-custom {
    background-color: #263547;
}

.navbar-custom .nav-brand {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
} */