body {
    background-color: #c7c4c4;
}

h1 {
    font-family: 'Spartan', sans-serif;
    color: #facfad;
}

.navbar-custom {
    background-color: #263547;
}

.navbar-custom .nav-brand {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
}

.profile, .contact-form {
    margin-top: 30px;
}

.about-me {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
    margin-top: 10px;
}

.btn {
    margin-top: 5px;
}