body {
    background-color: #2b2b2b;
    background-image: linear-gradient(135deg, #2b2b2b 0%, #9d9eaa 100%);
}

h1 {
    font-family: 'Spartan', sans-serif;
    color: #facfad;
}

.navbar-custom {
    background-color: #263547;
}

.navbar-custom .navbar-brand {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.navbar-custom .nav-link {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
}

.profile, .contact-form, .portfolio {
    margin-top: 30px;
}

.about-me {
    color: #facfad;
    font-family: 'Spartan', sans-serif;
    margin-top: 10px;
}

.btn {
    margin-top: 5px;
}

.row-1 {
    padding-bottom: 20px;
}

p {
    color: #ffffff;
}